<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CarInfors">
<!-- 전체 불러오기  -->
	<select id="selectAll" parameterType="Map" resultType="Map">
        SELECT *
        FROM db_cars.car_infors
        WHERE 1 = 1 
        <!-- 여기서 WHERE조건은 상수라서 무시하고 출력함.  -->
    </select>

<!-- 상세 -->
	<select id="selectByUID" parameterType="Map" resultType="Map">
        SELECT *
        FROM db_cars.car_infors
        WHERE CAR_INFOR_ID = #{CAR_INFOR_ID}
    </select>
    <insert id="insert" parameterType="Map">
<!-- 입력 -->
        INSERT INTO car_infors (CAR_NAME,YEAR,CAR_INFOR_ID,COMPANY_ID)
        VALUES (#{CAR_NAME},#{YEAR},#{CAR_INFOR_ID},#{COMPANY_ID})
    </insert>
<!-- 수정 -->
    <update id="update" parameterType="Map">
        UPDATE car_infors
        SET CAR_NAME = '코나'
        WHERE CAR_INFOR_ID = #{CAR_INFOR_ID}
    </update>
<!-- 삭제 -->
    <delete id="delete" parameterType="Map">
        DELETE FROM car_infors
        WHERE CAR_INFOR_ID=#{CAR_INFOR_ID}
    </delete>

</mapper>