<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="fake">
        <!-- //class fake
    // Map selectByUID(HashMap map){
   // 들어오는 방식이 이렇게 되는것. 
    //   } -->
	<select id="selectByUID" parameterType="Map"
		resultType="Map">
        <!-- // company_id로 select할것 -->
        <!-- // 들어오는 것은 parameterType에 넣어준다 = String-->
        <!-- // 가져오는건 (return type) resultType으로 지정 -->
        <!-- // 그럼 String의 변수는?? mybatis에서 넘어올때 function으로 name과 변수가 mapping되어 들어옴 -->
    SELECT *
    FROM db_cars.factorys
    WHERE COMPANY_ID=#{companyId}
        <!-- // 변화하는 변수를 받아내는 query문 -->
        <!-- // 이렇게 query문을 짜면 위의 class fake method처럼 돌아가는것.  -->
        <!-- //  HashMap에서 companyId가 key가 되는 것이고 자동적으로 그 key를 찾아 값을 뱉어냄.  -->
	</select>
</mapper>